// === media ===
@media screen and (max-width: 1200px){
  .section-outer{
    width: 1200px;
  }
}

@media screen and (max-width: 1230px){
  .section-inner{
    padding-left: 20px; 
    padding-right: 20px; 
  }
}

// === / media ===