@import 'normalize.scss';
@import 'header.scss';
@import 'about.scss';
@import 'skills.scss';
@import 'numbers.scss';
@import 'work.scss';
@import 'process.scss';
@import 'services.scss';
@import 'testimonials.scss';
@import 'clients.scss';
@import 'form.scss';
@import 'footer.scss';

$slick-font-path: "../..//node_modules/slick-carousel/slick/fonts/";
$slick-loader-path: "../..//node_modules/slick-carousel/slick/";
@import '~slick-carousel/slick/slick', '~slick-carousel/slick/slick-theme';


// === Common ===
*{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

.section-outer {
  
}

.section-inner {
  max-width: 1200px;
  margin: 0 auto;
}

.title{
  color: $black-color;
  @include font-montserrat;
}

.subtitle{
  color: $gray-color;
  @include font-nunito-sans;
}

.button{
  @include font-montserrat;
  padding: 0;
  cursor: pointer;
  width: 180px;
  height: 54px;
  background-color: $lightblue-color;
  border: 0;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: white;
  outline: none;

  &:hover{
    background: white;
    color: $lightblue-color;
    box-shadow: inset 0 0 0 1px $lightblue-color;   
  }
}
// === / Common ===
@import 'media.scss';